{% extends "layout.html" %}
{% block additional_libraries %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling.css') }}">
{% endblock %}

{% block content %}
    {% include "navbar.html" %}
    <div class="container-fluid margin-top-xl" >
        <div class="row">
            <div class="col text-center">
                {% if not resend_email %}
                    {% if confirmed %}
                        <h1> Почта успешно подтверждена. </h1>
                        <a href="{{ url_for('main.index') }}" role="button" class="btn btn-secondary">Вернуться на главную страницу</a>
                    {% else %}
                        <h1> Не удалось подтвердить почту. Возможно, ссылка повреждена или с момента вашей регистрации прошло более часа. </h1>
                        <a href="{{ url_for('auth.resend_email') }}" role="button" class="btn btn-secondary">Отправить письмо с ссылкой для подтверждения почты ещё раз.</a>
                    {% endif %}
                {% else %}
                    {% if successfully_sent %}
                        <h1> Письмо успешно отправлено. Проверьте почту, с помощью которой вы регистрировались. </h1>
                    {% else %}
                        <h1> Не удалось отправить письмо повторно. Для повторной отправки с момента вашей регистрации должно пройти более часа. Попробуйте ещё раз позже. </h1>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}