<div class="row margin-zero-lr ">
    <div class="navbar bgr-plain-purple row justify-content-center p-0">
        <div class="col-3 align-self-center">
            <div class="row">
                <img src="{{ url_for('static', filename='imgs/eye-makeup.svg') }}" class="filter-white icon-sm center-img cursor-ptr" onclick="window.location.href='{{ url_for('main.index') }}'">
            </div>
        </div>
        <div class="col-4 align-self-center input-m bgr-plain-white">
            <div class="row h100">
                <div class="col align-self-center">
                    <form class="row" action="{{ url_for('search.smart_search') }}" method="post" name="search_form" id="search_form">
                        <div class="col-9 v-line-r-p pad-zero">
                            {{ search_form.query(class="col txt-suggest", placeholder=search_form.query.description, maxlength=100, onfocus="ym(64691707,'reachGoal','typeText'); return true;") }}
                        </div>
                        <div class="col-3 pad-zero">
                            <div class="row cursor-ptr margin-zero-lr" onclick="document.getElementById('{{ search_form.submit.id }}').click();">
                                <div class="col text-center no-decor" onclick="ym(64691707,'reachGoal','srchBttnClck'); return true;">
                                    <a class="txt-clr-purple header-s text-icon-container">
                                        <img src="{{ url_for('static', filename='imgs/search.svg') }}" class="filter-purple icon-xs large-only">
                                        Поиск
                                        {{ search_form.submit(hidden='') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{ search_form.hidden_tag() }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3 pad-zero align-self-center align-items-center">
            <div class="row justify-content-center margin-zero-lr">
                <div class="col-8 ">
                    <div class="row content-space-between align-items-center">
                        {% if current_user.is_authenticated %}

                        <div class="col pad-zero">
                            {% if current_user.type != 'moderator' %}
                                <a class="txt-clr-white text-regular text-icon-container" href="{{ url_for('profile.profile_page', id=current_user.id) }}">
                                <img src="{{ url_for('static', filename='imgs/user.svg') }}" class="filter-white icon-xs large-only">
                                    Профиль
                                </a>
                            {% endif %}
                        </div>
                        <div class="col pad-zero">
                            <a class="txt-clr-white text-regular text-icon-container" href="{{ url_for('auth.logout') }}">
                                <img src="{{ url_for('static', filename='imgs/logout.svg') }}" class="filter-white icon-xs">
                            </a>
                        </div>

                        {% else %}

                        <div class="col pad-zero">
                            <a class="txt-clr-white text-regular text-icon-container" href="{{ url_for('auth.login') }}">
                            <img src="{{ url_for('static', filename='imgs/login.svg') }}" class="filter-white icon-xs large-only">
                                Войти
                            </a>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>