{% from "display_form_errors.html" import display_form_errors %}
{% extends "layout.html" %}
{% block additional_libraries %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/jquery.inputmask.js') }}"></script>
	<script src="{{ url_for('static', filename='js/validations.js') }}"></script>
{% endblock %}
{% block content %}
	<div class="container">
		<!-- reg form -->
		<div class="row justify-content-center align-content-center margin-bot-xl margin-top-xl margin-lr-auto w80">
			<div class="col bgr-grad-rad content-area">
				<div class="col pad-h-m pad-v-s margin-top-m margin-bot-m">
                    {{ display_form_errors(registration_form) }}
					<div class="row">
						<div class="header-lg txt-clr-white">Регистрация</div>
					</div>
					<!-- data input -->
					<form method="post" name="reg_form">
						<!-- Login -->
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10">
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ registration_form.email(class="col align-self-center txt-suggest", placeholder=registration_form.email.label.text, maxlength="50", minlength="5") }} <br>
									</div>
								</div>
								<div class="col">
									<div class="text-regular txt-clr-white">
										— Ваша почта потребуется нам для подтверждения вашего аккаунта. В дальнейшем она будет использоваться Вами для входа на сайт.
										<span class="txt-clr-red">*</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Password -->
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10 w100">
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ registration_form.password(class="col align-self-center txt-suggest", oninput="isFirstPasswordEqual(this);", placeholder=registration_form.password.label.text, maxlength="50", minlength="5") }}
									</div>
								</div>
								<div class="col">
									<div class="text-regular txt-clr-white">
										— Пароль для входа на сайт.
										<span class="txt-clr-red">*</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Confirm password -->
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10 w100">
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ registration_form.repeat_password(class="col align-self-center txt-suggest", oninput="isSecondPasswordEqual(this);", placeholder=registration_form.repeat_password.label.text, maxlength="50", minlength="5") }}
									</div>
								</div>
								<div class="col">
								</div>
							</div>
						</div>
						<div class="row pad-v-xs margin-top-m">
							<div class="row margin-bot-top-10 w100">
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ registration_form.name(class="col align-self-center txt-suggest", placeholder=registration_form.name.label.text, maxlength="25", minlength="2") }}
									</div>
								</div>
								<div class="col">
									<div class="text-regular txt-clr-white">
										— Ваше имя. Так пользователи будут видеть Вас на сайте.
										<span class="txt-clr-red">*</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10 w100">
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ registration_form.surname(class="col align-self-center txt-suggest", placeholder=registration_form.surname.label.text, maxlength="25", minlength="2") }}
									</div>
								</div>
								<div class="col">
									<div class="text-regular txt-clr-white">
										— Ваша фамилия.
										<span class="txt-clr-red">*</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10">
								<div class="col">
									<div class="text-regular txt-clr-white">
										<span class="txt-clr-red">*</span>
										— Поля, обязательные для заполнения.										
									</div>
								</div>
							</div>
						</div>
						<div class="row pad-v-m justify-content-center">
							<div class="col-md-auto reg-bttn pad-zero">
                                {{ registration_form.register(class="col align-self-center header-md auto-mg-t-b txt-clr-purple btn bgr-plain-white pad-lr-s" ) }}
							</div>
						</div>
                    {{ registration_form.hidden_tag() }}
					</form>
				</div>	
			</div>
		</div>
	</div>
{% endblock %}