.stars-gray {
	background: url(../imgs/stars-gray.svg) no-repeat;
	height: 24px;
}

.stars-color {
	background: url(../imgs/stars.svg) no-repeat;
	height: 24px;
}

.stars-sm {
	height: 18px;
}

.rating {
	min-width: 140px;
	height: 30px;
}