{% extends "layout.html" %}
{% block additional_libraries %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stars.css') }}">
    <script type="application/javascript;charset=utf-8" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
{% endblock %}

{% block content %}
    {% include "navbar.html" %}

	<div class="container margin-top-xl">
		<div class="row justify-content-center margin-top-m margin-bot-m txt-clr-white">
			<div class="col content-area bgr-grad-dmnd">
				<div class="row align-items-center margin-bot-m margin-top-m">
					<div class="col v-line-r-w margin-top-s margin-bot-s">
						<div class="row align-items-center margin-left">
							<img src="{{ url_for('static', filename='imgs/hair-styler.svg') }}" class="filter-white icon-md margin-right-s">
							<a class="search-page-redirect">Уход за волосами</a>
						</div>	
					</div>
					<div class="col v-line-r-w margin-top-s margin-bot-s">
						<div class="row align-items-center margin-left">
							<img src="{{ url_for('static', filename='imgs/fashion.svg') }}" class="filter-white icon-md margin-right-s">
							<a class="search-page-redirect">Уход за ногтями</a>
						</div>
					</div>
					<div class="col margin-top-s margin-bot-s">
						<div class="row align-items-center margin-left">
							<img src="{{ url_for('static', filename='imgs/spa.svg') }}" class="filter-white icon-md margin-right-s">
							<a class="search-page-redirect">Массаж, SPA</a>
						</div>
					</div>
				</div>
				<div class="row align-items-center margin-bot-m margin-top-m">
					<div class="col v-line-r-w margin-top-s margin-bot-s">
						<div class="row align-items-center margin-left">
							<img src="{{ url_for('static', filename='imgs/ear.svg') }}" class="filter-white icon-md margin-right-s">
							<a class="search-page-redirect">Пирсинг</a>
						</div>
					</div>
					<div class="col v-line-r-w margin-top-s margin-bot-s">
						<div class="row align-items-center margin-left">
							<img src="{{ url_for('static', filename='imgs/tattoo.svg') }}" class="filter-white icon-md margin-right-s">
							<a class="search-page-redirect">Татуировки</a>
						</div>
					</div>
					<div class="col margin-top-s margin-bot-s">
						<div class="row align-items-center margin-left">
							<img src="{{ url_for('static', filename='imgs/spa (1).svg') }}" class="filter-white icon-md margin-right-s">
							<a class="search-page-redirect">Уход за кожей</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center margin-top-m margin-bot-m txt-clr-purple">
			<div class="col">
				<div class="row">
					<div class="header-lg">ПОПУЛЯРНЫЕ МАСТЕРА</div>
				</div>
				<div class="row content-space-between">
                    {% for master in masters %}
                        <div class="col col-32 pad-zero">
                            <div class="row margin-zero-lr">
                                <div class="content-area bgr-plain-white row margin-zero-lr content-space-between">
                                    <div class="col-6 pad-zero">
                                        <a href="{{ url_for('profile.profile_page', id=master.id) }}">
                                            <img class="sqr-pic" src="{{ master.get_avatar_url() }}">
                                        </a>
                                    </div>
                                    <div class="col-5 pad-zero margin-right-s">
                                        <div class="header-md pad-zero">
                                            <a href="{{ url_for('profile.profile_page', id=master.id) }}">{{ master.name + ' ' + master.surname }}</a>
                                        </div>
                                        <div class="txt-clr-black">
                                            {{ master.short_description }}
                                        </div>
                                        <div class="rating row align-items-center margin-zero-lr">
                                            {% if master.average_rating %}
                                                <div class="stars-gray col pad-zero">
                                                    <!-- <div class="stars-color" style="width: ВЫЧИСЛЯТЬ ШИРИНУ, СОГЛАСНО РЕЙТИНГУ (current_rate/max_rate)*140px"></div> -->
                                                    <div class="stars-color" style="width: {{ master.average_rating / 5 * 140 }}px">
                                                    </div>
                                                 </div>
                                            {% else %}
                                                Недостаточно отзывов для расчёта рейтинга
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
		<div class="row justify-content-center margin-top-m margin-bot-m txt-clr-purple">
			<div class="col">
				<div class="row">
					<div class="header-lg">ОТЗЫВЫ</div>
				</div>
				<div class="row content-space-between">
					<!-- Каждый блок - отзыв -->
                    {% for review in reviews %}
                        <div class="col col-32 pad-zero">
                            <div class="row margin-zero-lr">
                                <div class="content-area bgr-plain-white row margin-zero-lr content-space-between align-items-center">
                                    <div class="col-3 col-center pad-zero margin-left-xs">
                                        <!-- Аватар пользователя; Cсылка на изображение в style="background-image: url(...);" -->
                                        <a href="{{ url_for('profile.profile_page', id=review.author.id) }}" class="img_container portrait rounded rounded" style="background-image: url('{{ review.author.get_avatar_url() }}');">
                                        </a>
                                    </div>
                                    <div class="col-8 pad-zero margin-left-xs">
                                        <div class="row align-items-center margin-zero-lr margin-neg-right-s">
                                            <div class="text-small pad-zero txt-clr-purple">
                                                <!-- Имя пользователя -->
                                                <a href="{{ url_for('profile.profile_page', id=review.author.id) }}">{{ review.author.name }}</a>
                                            </div>
                                            <div class="text-small txt-clr-black margin-right-xs margin-left-xs">
                                                про
                                            </div>
                                            <div class="text-smal bold pad-zero">
                                                <!-- Имя мастера, о котором написан отзыв -->
                                                <a href="{{ url_for('profile.profile_page', id=review.master.id) }}">{{ review.master.name + ' ' + review.master.surname }}</a>
                                            </div>
                                        </div>
                                        <!-- Текст отзыва -->
                                        <div class="text-small txt-clr-black">
                                            {{ review.content }}
                                        </div>
                                        <div class="rating row align-items-center margin-zero-lr">
                                            <!-- -->
                                            <div class="stars-gray col pad-zero">
                                            <!-- <div class="stars-color" style="width: ВЫЧИСЛЯТЬ ШИРИНУ, СОГЛАСНО РЕЙТИНГУ (current_rate/max_rate)*140px"></div> -->
                                                <div class="stars-color" style="width: {{ review.rating / 5 * 140 }}px"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
    {% set id = "#" + search_form.query.id %}
    <script type="application/javascript;charset=utf-8">
        $(document).ready(function(){
            $(".search-page-redirect").click(function(evt){
                category = $(evt.target).text();
                $('{{ id }}').val(category);
                // $('#search_form').submit();
                // document.forms['search_form'].submit();
                document.getElementById('{{ search_form.submit.id }}').click();
            });
        });
    </script>
{% endblock %}