{% from "display_form_errors.html" import display_form_errors %}
{% from "render_services.html" import render_services %}
{% extends "layout.html" %}
{% block additional_libraries %}
	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="application/javascript" src="{{ url_for('static', filename='js/jquery.inputmask.js') }}"></script>
	<script type="application/javascript" src="{{ url_for('static', filename='js/validations.js') }}"></script>
{% endblock %}
{% block content %}
	<div class="container">
		<!-- reg form -->
		<div class="row justify-content-center align-content-center margin-bot-xl margin-top-xl margin-lr-auto w80">
			<div class="col bgr-grad-rad content-area">
				<div class="col pad-h-m pad-v-s margin-top-m margin-bot-m">
                    {{ display_form_errors(edit_form) }}
					<div class="row">
						<div class="header-lg txt-clr-white">Редактирование</div>
					</div>
					<!-- data input -->
					<form method="post" name="edit_form">
						<div class="row pad-v-xs margin-top-m">
							<div class="row margin-bot-top-10 w100">
								<!-- задать имя заранее -->
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ edit_form.name(class="col align-self-center txt-suggest", placeholder=edit_form.name.label.text, maxlength="25", minlength="2") }}
									</div>
								</div>
								<div class="col">
									<div class="text-regular txt-clr-white">
										— Ваше имя. Так пользователи будут видеть Вас на сайте.
										<span class="txt-clr-red">*</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10 w100">
								<!-- задать фамилию заранее -->
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ edit_form.surname(class="col align-self-center txt-suggest", placeholder=edit_form.surname.label.text, maxlength="25", minlength="2") }}
									</div>
								</div>
								<div class="col">
									<div class="text-regular txt-clr-white">
										— Ваша фамилия.
										<span class="txt-clr-red">*</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Phone number -->
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10 w100">
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ edit_form.phone_number(**{'data-inputmask': "'mask': '+7 (999) 999-99-99'", 'placeholder': "+7 (999) 999-99-99", 'class': "col align-self-center txt-suggest"}) }}
									</div>
								</div>
								<div class="col">
									<div class="text-regular txt-clr-white">
										— Ваш номер телефона. По нему Ваши будущие клиенты смогут записаться к Вам на прием.
										<span class="txt-clr-red">*</span>
									</div>
								</div>
							</div>
						</div>
						<!-- короткое описание -->
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10 w100">
								<div class="col input-lg bgr-plain-white">
									<div class="row h100">
                                        {{ edit_form.short_description(class="col align-self-center txt-suggest", placeholder="Например: “Сочные и яркие цвета - это у меня!”", maxlength="250", minlength="10") }}
									</div>
								</div>
								<div class="col">
									<div class="text-regular txt-clr-white">
										— Короткое описание Вашего профиля. Этот текст виден всем пользователям в поиске рядом с фотографией профиля.
									</div>
								</div>
							</div>
						</div>
						<!-- полное описание -->
						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10 w100">
								<div class="col-6 description pad-zero">
                                    {{ edit_form.description(class="content-area", maxlength="2000", minlength="10") }}
								</div>
								<div class="col pad-zero margin-left-15">
									<div class="text-regular txt-clr-white">
										— Полное описание Вашего профиля. Этот текст виден всем пользователям в Вашем профиле сразу под коротким описанием.
									</div>
								</div>
							</div>
						</div>
						<div class="row pad-v-xs v-line-t-w margin-top-m">
							<div class="row margin-bot-top-10">
								<div class="col">
									<div class="text-regular txt-clr-white">								
										Хотите изменить профиль работы? Отметьте новые виды услуг!			
									</div>
								</div>
							</div>
						</div>

                        {{ render_services(categories, edit_form.services) }}

						<div class="row pad-v-xs">
							<div class="row margin-bot-top-10">
								<div class="col">
									<div class="text-regular txt-clr-white">
										<span class="txt-clr-red">*</span>
										— Поля, обязательные для заполнения.										
									</div>
								</div>
							</div>
						</div>
						<div class="row pad-v-m justify-content-center">
							<div class="col-md-auto reg-bttn pad-zero">
                                {{ edit_form.edit(class="col align-self-center header-md auto-mg-t-b txt-clr-purple btn bgr-plain-white pad-lr-s") }}
							</div>
						</div>
                    {{ edit_form.hidden_tag() }}
					</form>
				</div>	
			</div>
		</div>
	</div>
{% endblock %}