{% from "review.html" import render_review with context %}
{% from "render_pagination.html" import render_pagination %}
{% extends "layout.html" %}
{% block additional_libraries %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">   <!-- было только в профиле клиента почему-то, и с этим немного ломается профиль мастера, надеюсь без этого тоже будет работать. Работает всё, кроме модалов -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stars.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>    <!-- это из профиля клиента, ни на что не влияет -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->  <!-- это из профиля мастера, надеюсь будет работать с любой версией -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/profile_functions.js') }}"></script>
{% endblock %}

{% block content %}
    {% include "navbar.html" %}

	<div class="container margin-top-xl">
		<div class="row justify-content-center margin-zero-lr">
			<!-- аватар и тэги --> 
			<div class="col-4 pad-zero margin-right-s">
				<div class="row margin-zero-lr content-area">
					<div class="img_container content-area portrait-large" style="background-image: url('{{ user.get_avatar_url() }}');">
					</div>
				</div>
				<div class="row margin-zero-lr justify-content-end">
					<div class="col-md-auto pad-zero">
						<div class="text-small txt-clr-purple margin-top-xs">
							<div class="row margin-zero-lr align-items-center justify-content-end">
                                {% if user == current_user and current_user.is_not_blocked %}
                                    <img src="{{ url_for('static', filename='imgs/pencil.svg') }}" class="filter-purple icon-xs">
                                    <a {% if current_user.email_confirmed %} href="{{ url_for('profile.upload_avatar', id=user.id) }}" {% else %} data-toggle="modal" data-target="#confirmEmailModal" {% endif %}>Изменить фото профиля</a>
                                {% endif %}
							</div>
						</div>
					</div>	
				</div>


				<!-- тэги; не показывать в профиле пользователя -->
                {% if user.type == 'master' %}
                    <div class="row margin-zero-lr content-area bgr-plain-white margin-top-xs">
                        <div class="col-12 margin-top-s pad-zero margin-left-xs">
                            <div class="text-regular txt-clr-purple">
                                Делает
                            </div>
                        </div>
                        {% for service in user.services %}
                            <div class="col-md-auto pad-zero tag input-sm bgr-plain-purple align-items-center justify-content-center margin-right-xs margin-left-xs">
                                <div class="txt-clr-white text-xsmall margin-right-xs margin-left-xs">
                                    {{ service.name }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12 margin-bot-s"></div>
                    </div>
                {% endif %}


			</div>
			<!-- Описание, работы, отзывы -->
			<div class="col pad-zero">
				<div class="row margin-zero-lr content-area bgr-plain-white">
					<div class="col pad-zero {{ 'margin-bot-s' if user.type != 'master' }}">
						<div class="row margin-zero-lr align-items-center">
							<div class="col pad-zero">
								<div class="header-md bold txt-clr-purple margin-left-s margin-top-xs">
                                    {{ user.name + ' ' + user.surname }}
								</div>
							</div>

                            <div class="col pad-zero">
                                {% if current_user.type != 'moderator' %}
                                    <div class="text-small txt-clr-purple margin-right-s margin-top-xs">
                                        <div class="row margin-zero-lr align-items-center justify-content-end">
                                            {% if user == current_user and current_user.is_not_blocked %}
                                                <img src="{{ url_for('static', filename='imgs/gear.svg') }}" class="filter-purple icon-xs">
                                                <a {% if current_user.email_confirmed %} href="{{ url_for('profile.profile_edit', id=user.id) }}" {% else %} data-toggle="modal" data-target="#confirmEmailModal" {% endif %}>Настроить профиль</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% elif user.is_not_blocked %}
                                    <div class="text-small txt-clr-red margin-right-s margin-top-xs">
                                        <div class="row margin-zero-lr justify-content-end">
                                            <div class="col pad-zero text-right margin-right-s">
                                                <button type="button" data-toggle="modal" data-target="#blockUserModal" class="admin-btn txt-clr-red" onclick="setBlockInfo('{{ url_for('moderator.block_user', id=user.id) }}');">
                                                    Заблокировать
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
						</div>
                        {% if user.type == 'master' %}
                            <div class="row margin-zero-lr margin-top-s">
                                <div class="text-small margin-left-s">
                                    {{ user.short_description }}
                                </div>
                            </div>
                            <div class="row v-line-t-p margin-left-s margin-right-s margin-top-xs"></div>
                            <div class="row margin-zero-lr margin-top-s margin-bot-s">
                                <div class="text-small margin-left-s margin-right-s">Телефон: {{ user.phone_number }}</div>
                            </div>
                            <div class="row margin-zero-lr margin-top-s margin-bot-s">
                                <div class="text-small margin-left-s margin-right-s" style="white-space: pre-line">{{ user.description}}</div>
                            </div>
                        {% endif %}
					</div>
				</div>


				<!-- работы не показывать в профиле пользователя -->
                {% if user.type == 'master' %}
                    <div class="row margin-zero-lr content-area bgr-plain-white margin-top-m">
                        <div class="col pad-zero">
                            <div class="row margin-zero-lr">
                                <div class="col pad-zero">
                                    <div class="text-regular txt-clr-purple margin-left-s margin-top-xs margin-bot-xs">
                                        Работы
                                    </div>
                                </div>
                                <div class="col pad-zero">
                                    <div class="text-small txt-clr-purple margin-right-s margin-top-xs">
                                        <div class="row margin-zero-lr align-items-center justify-content-end">
                                            {% if user == current_user and current_user.is_not_blocked %}
                                                <img src="{{ url_for('static', filename='imgs/upload.svg') }}" class="filter-purple icon-xs">
                                                <a {% if current_user.email_confirmed %} href="{{ url_for('profile.upload_photo', id=user.id) }}" {% else %} data-toggle="modal" data-target="#confirmEmailModal" {% endif %}>Загрузить фото</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- ИЗОБРАЖЕНИЯ -->
                            <div class="row margin-left-10 margin-right-0">
                                <div class="col tags pad-zero margin-bot-s">
                                    <div class="row margin-zero-lr justify-content-evenly">
                                        {% for photo in user.photos %}
                                            <div class="col-md-auto pad-zero tag align-items-center justify-content-center margin-right-xs margin-left-xs cursor-ptr">
                                                <div class="margin-right-xs margin-left-xs">
                                                    <!-- Cсылка на изображение в style="background-image: url(...);" -->
                                                    <div class="img_container content-area portrait" style="background-image: url('{{ photo.get_photo_url() }}');" onclick="showPhoto(this, '{{ url_for('profile.delete_photo', id=photo.id) }}');">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- ИЗОБРАЖЕНИЯ -->
                        </div>
                    </div>
                {% endif %}



                {% if user.type == 'master' %}
                    <!-- переключение между типами отзывов -->
                    <div class="row margin-zero-lr margin-top-s align-items-center">
                        <div class="col-md-auto pad-zero v-line-r-p">
                            <div class="text-regular txt-clr-purple margin-right-s" id="reviews_about_user_title" style="font-weight: bold;">
                                <a onclick="switchReviews('reviews_about_user', 'user_reviews')">
                                    {% if current_user == user %}
                                        Отзывы о вас
                                    {% else %}
                                        Отзывы о мастере
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-auto pad-zero">
                            <div class="text-regular txt-clr-purple margin-left-xs" id="user_reviews_title">
                                <a onclick="switchReviews('user_reviews', 'reviews_about_user')">
                                    {% if current_user == user %}
                                        Ваши отзывы
                                    {% else %}
                                        Отзывы мастера
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row align-items-center justify-content-end">
                                <div class="input-auto bgr-plain-purple txt-clr-white text-small cursor-ptr" {% if allowed_to_review and current_user.email_confirmed %} onclick="switchBlock('review_form', 'flex')" {% endif %}>
                                    {% if allowed_to_review %}
                                        {% if current_user.email_confirmed %}
                                            <div class="margin-lr-xs margin-bot-xs margin-top-xs">
                                                Добавить отзыв
                                            </div>
                                        {% else %}
                                            <div class="margin-lr-xs margin-bot-xs margin-top-xs" data-toggle="modal" data-target="#confirmEmailModal">
                                                Добавить отзыв
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row margin-zero-lr margin-top-s align-items-center">
                        <div class="col-md-auto pad-zero">
                            <div class="text-regular txt-clr-purple margin-right-s" id="reviews_about_user_title" style="font-weight: bold;">
                                {% if current_user == user %}
                                    Ваши отзывы
                                {% else %}
                                    Отзывы пользователя
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

				<!-- отзывы о пользователе -->
				<div class="row margin-zero-lr margin-top-s" id="reviews_about_user">
                    <div class="col pad-zero">
						<!-- отзыв начало -->
                        {% for review in reviews_about_master %}
                            {{ render_review(review, False) }}
                        {% endfor %}
                    </div>
				</div>





				<!-- отзывы пользователя -->
				<div class="row margin-zero-lr margin-top-s" id="user_reviews" {% if user.type == 'master' %} style="display: none;" {% endif %} >
                    <div class="col pad-zero">
                        {% for review in users_reviews %}
                            {{ render_review(review, True) }}
                        {% endfor %}
                    </div>
				</div>




			</div>
		</div>

        <div id="pagination_div">
            <div id="reviews_about_user_pagination" style="display: block">
                {{ render_pagination(reviews_about_master_pagination, 'profile.profile_page', author='others', left_edge=1, left_current=10, right_current=10, right_edge=1, id=user.id) }}
            </div>
            <div id="user_reviews_pagination" style="display: none">
                {{ render_pagination(users_reviews_pagination, 'profile.profile_page', author='user', left_edge=1, left_current=10, right_current=10, right_edge=1, id=user.id) }}
            </div>
        </div>



        {% if allowed_to_review %}
            <!-- comment field -->
            <div class="row justify-content-center margin-zero-lr" id="review_form" style="display: none;">
                <form method="post" action="{{ url_for('review.post_review', id=user.id) }}" id="left_review" class="col-10 pad-zero content-area bgr-grad-linear always-bottom review-area margin-bot-s">
                    <div class="row margin-zero-lr justify-content-end margin-top-xs">
                        <img src="{{ url_for('static', filename='imgs/close.svg') }}" class="filter-white icon-xs margin-right-s cursor-ptr" onclick="switchBlock('review_form', 'none')">
                    </div>
                    <div class="row margin-zero-lr justify-content-center margin-top-s">
                        {{ review_form.content(class="content-area", placeholder="Напишите здесь текст Вашего отзыва...", minlength="10", maxlength="1000" ) }}
                    </div>
                    <div class="row align-items-center w80 justify-content-between margin-lr-auto margin-top-m margin-bot-s">
                        <div class="col pad-zero">
                            <div class="text-regular txt-clr-white">
                                Ваша оценка:
                            </div>
                        </div>
                        <div class="col pad-zero"></div>
                    </div>
                    <div class="row align-items-center w80 justify-content-between margin-lr-auto margin-top-s margin-bot-s">
                        <div class="col-md-auto pad-zero">
                            <div class="rating row align-items-center margin-zero-lr">
                                <div class="stars-gray col pad-zero">
                                    <div class="stars-color" style="width: 0px" id="bright-stars">
                                        <div class="row margin-zero-lr h100" id="ratebar">
                                            <div class="star" id="s1" onmouseenter="setLastStar(this);" onclick="submitScore(this);"></div>
                                            <div class="star" id="s2" onmouseenter="setLastStar(this);" onclick="submitScore(this);"></div>
                                            <div class="star" id="s3" onmouseenter="setLastStar(this);" onclick="submitScore(this);"></div>
                                            <div class="star" id="s4" onmouseenter="setLastStar(this);" onclick="submitScore(this);"></div>
                                            <div class="star" id="s5" onmouseenter="setLastStar(this);" onclick="submitScore(this);"></div>
                                        </div>
                                        <!-- отсюда брать оценку пользователя -->
                                        <div style="display: none;">
                                            {{ review_form.rating(max="5", min="1") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto pad-zero bgr-plain-white input-m">
                            <div class="row margin-zero-lr justify-content-end h100">
                                {{ review_form.submit(class="col align-self-center text-regular auto-mg-t-b txt-clr-purple") }}
                            </div>
                        </div>
                    </div>
                {{ review_form.hidden_tag() }}
                </form>
            </div>
        {% endif %}



	</div>
    {% if user.type == 'master' %}
        <!-- large img dynamic -->
        <div class="dark-cover full-screen always-center" id="preview" style="display: none;">
            <div class="row margin-zero-lr justify-content-center">
                <div class="col-6 pad-zero bgr-plain-white content-area margin-top-m margin-bot-m">
                    <div class="row margin-zero-lr justify-content-center">
                        <div class="col pad-zero content-area margin-left-s margin-right-s margin-top-s margin-bot-s justify-content-center" id="imgParent">
                            <div class="img_container image-view margin-lr-auto" id="photo">
                            </div>
                        </div>
                    </div>
                    <div class="text-small txt-clr-purple margin-right-s margin-bot-xs">
                        <div class="row margin-zero-lr align-items-center justify-content-end">
                            {% if user == current_user %}
                                <img src="{{ url_for('static', filename='imgs/trash.svg') }}" class="filter-purple icon-xs">
                                <a id="delete_link" {% if current_user.email_confirmed %} href="remove photo" {% else %} data-toggle="modal" data-target="#confirmEmailModal" {% endif %}>Удалить фотографию</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-auto pad-zero margin-top-m top-right">
                    <div class="row margin-zero-lr justify-content-end">
                        <img src="{{ url_for('static', filename='imgs/close.svg') }}" class="filter-white icon-xs margin-right-s cursor-ptr" onclick="hidePhoto()">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}





    <!-- MODALS -->
	<div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="deleteReviewModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				    <h5 class="modal-title">Удалить отзыв</h5>
				    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				      <span aria-hidden="true">&times;</span>
				    </button>
				</div>
				<div class="modal-body">
				    <p>Вы уверены, что хотите удалить отзыв?</p>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn bgr-plain-purple txt-clr-white" id="deleteReviewConfirm">Удалить</button>
				    <button type="button" class="btn bgr-plain-gray txt-clr-white" data-dismiss="modal">Отмена</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="blockUserModal" tabindex="-1" role="dialog" aria-labelledby="blockUserModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				    <h5 class="modal-title">Заблокировать пользователя</h5>
				    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				      <span aria-hidden="true">&times;</span>
				    </button>
				</div>
				<div class="modal-body">
				    <p>Вы уверены, что хотите заблокировать пользователя?</p>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn bgr-plain-purple txt-clr-white" id="blockUserConfirm">Заблокировать</button>
				    <button type="button" class="btn bgr-plain-gray txt-clr-white" data-dismiss="modal">Отмена</button>
				</div>
			</div>
		</div>
	</div>


    <div class="modal fade" id="confirmEmailModal" tabindex="-1" role="dialog" aria-labelledby="deleteReviewModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
				    <p>Данная функция недоступна без подтверждения почты. Проверьте почту, адрес которой вы использовали при регистрации. </p>
                    <p>Если письмо долго не приходит, мы можем отправить вам письмо повторно. </p>
                    <a href="{{ url_for('auth.resend_email')}}" role="button" class="btn btn-secondary w-100">Отправить письмо повторно</a>
				</div>
			</div>
		</div>
	</div>



    <script>
        $(document).ready(function(){
            var switch_tab_to_users_reviews = {{ 'true' if switch_tab_to_users_reviews else 'false' }};
            if (switch_tab_to_users_reviews)
                switchReviews('user_reviews', 'reviews_about_user');
        });
    </script>
{% endblock %}