Загрузить фото в галерею
{% block additional_libraries %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/file_preview.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="container">
		<!-- reg form -->
		<div class="row justify-content-center align-content-center margin-bot-xl margin-top-xl margin-lr-auto w80">
			<div class="col bgr-grad-rad content-area">
				<form class="col pad-zero pad-v-s margin-top-m margin-bot-s" name="edit_form">
					<div class="row margin-left-s margin-right-s align-content-center">
						<div class="col pad-zero">
							<div class="header-md-thin txt-clr-white">{{ title }}</div>
						</div>
						<div class="col pad-zero">
							<div class="row margin-zero-lr justify-content-end">
								<div class="upload-btn-wrapper">
									<button class="btn bgr-plain-white txt-clr-purple">Выбрать фото</button>
									<input accept="image/*" onchange="loadFile(event);" type="file" name="myfile"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-zero-lr justify-content-center">
						<div class="col pad-zero content-area margin-left-s margin-right-s margin-top-s margin-bot-s">
							<div class="row margin-zero-lr justify-content-center bgr-no content-area txt-center-algn" id="filler">
								<div class="header-md-thin txt-clr-white margin-top-m">Здесь будет отображаться загруженное фото</div>
							</div>				
							<div class="col pad-zero content-area margin-lr-auto margin-top-s margin-bot-s justify-content-center" id="imgParent">
								<div class="img_container image-view margin-lr-auto" id="preview">
								</div>
							</div>
						</div>
					</div>
					<div class="row pad-v-m justify-content-center">
						<div class="col-md-auto reg-bttn pad-zero">
							<input type="submit" name="login" class="col align-self-center header-md auto-mg-t-b txt-clr-purple pad-zero btn bgr-plain-white margin-left-xs margin-right-xs" value="Сохранить">
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
{% endblock %}